<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div id="app">

    <h2>Statistics</h2>
    <ul>
      <li v-for="(stat, key) in characteristicStatistics">{{key}}: {{ stat }}</li>
    </ul>

    <h1>Seinfeld characters:</h1>
    <p v-if="characterList.length === 0">There are no characters..</p>
    <ul v-else>
      <li v-for="character in characterList">
        <p>{{ character.name }}</p>
        <button @click="favoriteCharacter(character)">Add to Favorite</button>
      </li>
    </ul>
    <h2>Favorite Characters</h2>
    <ul v-if="favoriteList.length > 0">
      <li v-for="favorite in favoriteList">{{ favorite.name }}</li>
    </ul>
    <p v-else>No favorite characters yet</p>

    <pre>
      {{ newCharacter }}
    </pre>
    <label for="character-name">Name</label>
    <input 
      type="text" 
      v-model="newCharacter.name" 
      @keyup.enter="addNewCharacter"
    />

    <!-- <p><span  v-for="(character, index) in characterList">{{ character.name }}{{index === characterList.length - 1 ? "" : ", "}}</span></p> -->
  </div>


    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script>
      Vue.createApp({
        data: () => ({
          newCharacter: {
            name: "",
            characteristics: [],
          },
          characterList : [ 
            { name: "George", characteristics: ["Selfish", "Spineless" ]}, 
            { name: "Kramer", characteristics: ["Selfish", "Charismatic", "Idol"] }, 
            { name: "Elaine", characteristics: ["Selfish", "Idol"] }, 
            { name: "Jerry" , characteristics: ["Selfish" ]}
          ],
          favoriteList: [],
        }),
        //similar to useEffect() in React. to trigger a side effect; for an API call to set a certain state
        //it is about managing data   
        watch: {},
        //similar to useMemo() in React
        //it is about managing / triggering actions
        computed: {
          characteristicStatistics() {
            const  characters = this.characterList.reduce((acc, character) => {
              return [...new Set(acc.concat(character.characteristics))];
            }, []);
            
            const statistics = {
              Selfish: 0,
              Charismatic: 0,
              Idol: 0,
              Spineless: 0,
            }
            this.characterList.forEach(character => {
              characters.forEach(characterType => {
                if(character.characteristics.includes(characterType)){
                  statistics[characterType]++;  
              }
            })
            });

            return statistics;
          }
        },
        methods: {
          addNewCharacter() {
            this.characterList.push(this.newCharacter);
            this.newCharacter = ({ name: "" })
          },
          favoriteCharacter(character) {
            if(!this.favoriteList.find(fav => fav.name === character.name)) {
              this.favoriteList.push(character)
            }
          }
        }
      }).mount("#app");

      
    </script>
  </body>
</html>